.link-contenu {
    top: 14vh;
    left: 9vw;
    font-size: 1vw;

    span {
        position: absolute;
        display: block; 
  
        &:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, $jaune);
          animation: btn-anim1 1s linear infinite;
        }
  
        &:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $jaune);
          animation: btn-anim2 1s linear infinite;
          animation-delay: .25s
        }
  
        &:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, $jaune);
          animation: btn-anim3 1s linear infinite;
          animation-delay: .5s
        }
  
        &:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, $jaune);
          animation: btn-anim4 1s linear infinite;
          animation-delay: .75s
        }
      }
}

.container {
    &--slide {
        top: -13vh;
        position: relative;
        .background {
            img {
                position: relative;
                width: 100%;
                pointer-events: none;
            }
        }
        &_2 {
            display: flex;
            justify-content: center;
            h5 {
                color:white;
                text-align: center;
                position: absolute;
                // font-size: 4em;
                z-index: 1;
                top: 10vh;
                @include subtitle($jaune, 5%, 4vw);
            }

            .content_texte {
                position: absolute;
                top : 40vh;
                width: 60%;
                margin: auto;
                z-index: 2;
            }
            
        } 
        &_3 {
            top: -26vh;
            display: flex;
            justify-content: center;

            .content_texte {
                z-index: 2;
                display: flex;
                justify-content: space-between;
                top: 25vh;
                position: absolute;
                .text-2, .text-3 {
                    width: 35%;
                    margin: auto;
                    text-align: justify;
                    border-style: solid;
                    border-color: $violet;
                    box-shadow: 0px 0px 30px #ce1ed1;
                }

                .text-2 {
                    top: -10vh;
                    right: 5vw;
                }

                .text-3 {
                    left: 2vw;
                    top: 15vh;

                    &:before, &:after {
                        animation-delay: 5s;
                    }
                }
            }

            .vroum {
                position: absolute;
                z-index: 3;
                width: 40%;
                margin: auto;
                top: 10vh;
                animation: down-vroum 1.5s infinite ease-in-out alternate;
            }
        } 
    }
}

.text {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 2%;
    text-align: justify;
    width: 100%;
    font-size: 1.2vw;
    &:before, &:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #c300ff,#1100ff, #ff00ea, #fb0094, 
            #0000ff, #ae00ff,#56096d, #ff00ea);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s ease-in-out infinite;
    }
                
    &:after {
        filter: blur(50px);
    }
}

#vidéo_accueil { 
    img {
        position: relative;
        width: 100%;
        pointer-events: none;
    }
}

.background {
    img {
        position: relative;
        width: 100%;
        pointer-events: none;
    }
}

.split_slide {
    &--trait {
      position: relative;
        width: 45%;
        height: 1.6vh;
        z-index: 8;
        background: $violet;
        box-shadow: 0px 0px 30px #ce1ed1;
        transform: translate(0, -20px);
        top: -13vh;

        &_1, &_3, &_5 {
            left: 0px;
            float: left;
            &:nth-of-type(1) {
                top: unset;
            }
        }

        &_2, &_4, &_6 {
            right: 0;
            float: right;
            &:nth-of-type(2) {
                top: unset;
            }

            &:nth-of-type(3) {
                top: unset;
            }
        }

        &_5, &_6 {
            top: -25.5vh;
        }
    }

    &--triangle {
        height: 11vh;
        width: 7.3%;
        position: relative;
        margin: auto;
        color: $jaune;
        z-index: 20;
        animation: down 1s infinite ease-in-out alternate;

        &_1 {
            top: 1vh;
        }

        &_2 {
            top: -13vh;
        }

        &_3 {
            top: -25.5vh;
        }
    }
}   

.body--contenu {
    overflow-y: auto;
    overflow-x: hidden;
}

#décor{
    position: absolute;
    z-index: 2;
    border-style: solid;
    border-color: $violet;
    box-shadow: 0px 0px 30px #ce1ed1;
}

#car{
    z-index: 5;
    position: absolute;
}

.parallax{
    margin-left: 5%;
    margin-top : 10%;
}

#img2{
    position: absolute;
    margin-top: 7%;
    z-index: 1;
}

#city{
    position: absolute;
    z-index: 10;
    margin-top: 50%;
    margin-left: 5%;
    width: 581px;
    height: 404px;
    border: 8px solid #F9C80E;
    box-sizing: border-box;
    box-shadow: 0px 0px 18px 11px rgba(255, 245, 0, 0.25);
}

#music{
    position: absolute;
    z-index: 10;
    margin-top: 78%;
    margin-left: 65%;
    position: absolute;
    width: 581px;
    height: 404px;
    border: 8px solid #FF4365;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 3px #FF4365;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@keyframes down{
	0% {
        transform: translate(20%, -40%);
        opacity: 0;
    }
	100% {
        transform: translate(20%, -90%);
        opacity: 1;
    }
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes down-vroum{
	0% {
        transform: translate(-5%, -5%) rotateZ(0deg);
        opacity: 0.8;
    }
	100% {
        transform: translate(-5%, 10%) rotateZ(5deg);
        opacity: 1;
    }
}

#filtre{
    background-color: black;
    opacity: 0.5;
}