.cursor {
    width: 3em;
    height: 3em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 300ms ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 15;
    box-shadow: 0 0 10px $jaune, 0 0 40px $jaune, 0 0 80px $jaune;

    &__grow {
        transform: scale(2);
        background: $jaune;
    }
}
