@font-face {
    font-family: 'RoadRage';
    src: url('../font/Road_Rage.ttf');
}

@font-face {
    font-family: 'Lazer84';
    src: url('../font/Lazer84.ttf');
}

@font-face {
    font-family: 'Metropolis-light';
    src: url('../font/Metropolis-Light.otf');
}