.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 25;
    background-color: rgba($color: black, $alpha: 0.7);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    .loader {
        position: absolute;
        z-index: 25;
        width: 150px;
        height: 150px;
        margin: auto;
        top: 45%;
        border-radius: 50%;
        background: linear-gradient(45deg, transparent, transparent 40%, $rouge);
        animation: onload 2s linear infinite;
        // transform-origin: top;
        // transform-box: fill-box;
        // transform: translate(-50%, -50%);

        &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(30px);
            border-radius: 50%;
            z-index: 50;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: linear-gradient(45deg, transparent, transparent 40%, $rouge);
            border-radius: 50%;
            z-index: 25;
            filter: blur(30px);
        }
    }
//     .loader {
//         position: relative;
//         z-index: 25;
//         width: 10vw;
//         margin: auto;
//         filter: drop-shadow(0 0 10px $rouge);
//     }
}

@keyframes onload {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}