*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    height: 100vh;
    font-family: "RoadRage";
    font-weight: 700;
    color: red;
}

img {
    position: fixed;
    width: 100%;
    top: 30%;
    transition: top 1s;
}

.wrapper {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

@font-face {
    font-family: "RoadRage";
    src: url("./data/font/Road_Rage.ttf");
}