@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

::-moz-selection {
  background-color: rgba(255, 152, 241, 0.418);
  color: white;
}

::selection {
  background-color: rgba(255, 152, 241, 0.418);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: #000;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;
  color: white;
}

body * {
  font-family: "RoadRage";
}

body p, body ul, body li {
  font-family: "Metropolis-light";
  color: white;
  font-size: 20px;
}

.hide {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}

.show {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.bg--mountains {
  position: fixed;
  width: 100%;
  top: 30%;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.logo-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.title_retro {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #859ee2), to(#d5ebfb));
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  position: absolute;
  text-transform: uppercase;
}

.title_retro:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -3;
}

.title_retro:before {
  content: ' ';
  position: absolute;
  top: -1em;
  left: -15px;
  width: 8em;
  height: 5em;
  background: url("../img/triangle.svg") no-repeat;
  background-size: 7.5em;
  z-index: -4;
}

.title_trend {
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 2px 1px 2px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  color: #ff00ea;
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
  position: absolute;
  font-family: 'Lazer84';
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  margin-top: 3.5em;
}

.link {
  -webkit-animation: bouton 1.5s ease-in-out alternate infinite;
          animation: bouton 1.5s ease-in-out alternate infinite;
  position: absolute;
  width: auto;
  text-align: center;
  top: 83%;
  left: 50%;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  text-shadow: 0 0 10px #F9C80E, 0 0 20px #F9C80E, 0 0 30px #F9C80E;
}

.link:hover {
  text-shadow: 0 0 0px #F9C80E, 0 0 0px #F9C80E, 0 0 0px #F9C80E;
  -webkit-box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
          box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
  border: 2px solid #F9C80E;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-color: #F9C80E;
}

.link a {
  padding: 1.1em 2em;
  text-decoration: none;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F9C80E;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.link a:hover {
  color: #847625;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  overflow: hidden;
  pointer-events: none;
}

#bg #plane-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#bg #plane-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff4365));
  background-image: linear-gradient(transparent, #ff4365);
  opacity: .4;
}

#bg #plane-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#000 72px, transparent);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#bg #plane {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 2400px;
  overflow: hidden;
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(2, 2.8, 1);
          transform: translate3d(-50%, -50%, 0) scale3d(2, 2.8, 1);
}

#bg #plane #segments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotateX(78deg);
          transform: rotateX(78deg);
}

#bg #plane #horizontal-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#bg #plane #horizontal-lines .line {
  position: relative;
  width: 100%;
  height: 2%;
}

#bg #plane #horizontal-lines .line:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #ff4365;
  -webkit-box-shadow: 0 0 16px #ff4365;
          box-shadow: 0 0 16px #ff4365;
  -webkit-transform: translate3d(0, -50%);
          transform: translate3d(0, -50%);
}

#bg #plane #vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#bg #plane #vertical-lines .line {
  position: relative;
  float: left;
  width: 5%;
  height: 100%;
}

#bg #plane #vertical-lines .line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #ff4365;
  -webkit-box-shadow: 0 0 2px #ff4365;
          box-shadow: 0 0 2px #ff4365;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#bg.event-horizon #plane-wrapper #plane #horizontal-lines {
  -webkit-animation: event_horizon 10s infinite linear;
          animation: event_horizon 10s infinite linear;
}

.infos {
  position: absolute;
  left: 3%;
}

.infos #a_propos {
  position: absolute;
  margin: 0;
  pointer-events: none;
  font-size: 3em;
  z-index: 21;
  color: white;
  top: 8vh;
  left: 35px;
}

.infos .popup {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.infos .popup__close {
  left: -15px;
  top: 3.5vh;
}

.infos svg {
  position: absolute;
  top: 5vh;
}

.infos svg path {
  color: #F9C80E;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.infos svg path:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
          box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
  color: #fbdf72;
}

.infos .container-popup {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 80vw;
  height: 75vh;
  left: 8vw;
  top: 15vh;
  background: #791E94;
  -webkit-box-shadow: 0px 0px 30px #ce1ed1;
          box-shadow: 0px 0px 30px #ce1ed1;
  overflow: auto;
}

.infos .container-popup .left-side {
  width: 50%;
  height: 75vh;
  padding: 3%;
  position: relative;
}

.infos .container-popup .left-side h2 {
  margin: 0;
  padding: 0;
  color: #F9C80E;
  font-size: 3.4em;
  text-shadow: 0px 0px 30px #F9C80E;
  text-align: center;
}

@media only screen and (min-width: 80vw) {
  .infos .container-popup .left-side h2 {
    font-size: 3em;
  }
}

.infos .container-popup .left-side .theme {
  margin-top: 5%;
}

.infos .container-popup .left-side .roles ul {
  padding: 0;
}

.infos .container-popup .left-side .roles ul li {
  left: 40px;
  position: relative;
}

.infos .container-popup .left-side h3 {
  margin: 0;
  margin-top: 5%;
  padding: 0;
  color: #ff4365;
  font-size: 2em;
  text-shadow: 0px 0px 30px #ff4365;
  font-family: Lazer84;
  letter-spacing: 2px;
}

.infos .container-popup .left-side .maquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.infos .container-popup .left-side .maquette button {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 2px;
  padding: 15px;
  top: 5vh;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
}

.infos .container-popup .left-side .maquette button:hover {
  background: #F9C80E;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #F9C80E, 0 0 25px #F9C80E, 0 0 50px #F9C80E, 0 0 100px #F9C80E;
          box-shadow: 0 0 5px #F9C80E, 0 0 25px #F9C80E, 0 0 50px #F9C80E, 0 0 100px #F9C80E;
}

.infos .container-popup .left-side .maquette button a {
  padding: 10px 20px;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.infos .container-popup .left-side .maquette button a span {
  position: absolute;
  display: block;
}

.infos .container-popup .left-side .maquette button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#F9C80E));
  background: linear-gradient(90deg, transparent, #F9C80E);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.infos .container-popup .left-side .maquette button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F9C80E));
  background: linear-gradient(180deg, transparent, #F9C80E);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.infos .container-popup .left-side .maquette button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(270deg, transparent, #F9C80E);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.infos .container-popup .left-side .maquette button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(360deg, transparent, #F9C80E);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.infos .container-popup .right-side {
  width: 50%;
  height: 75vh;
  padding: 3%;
  position: relative;
}

.infos .container-popup .right-side_container {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.infos .container-popup .right-side_container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 100%;
}

.infos .container-popup .right-side_container .wrapper > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 25em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.infos .container-popup .right-side_container .card {
  overflow-y: auto;
  width: 30vw;
  height: 60vh;
}

.infos .container-popup .right-side_container .card img {
  position: relative;
  margin: auto;
  width: 20em;
}

.infos .container-popup .right-side_container .card .content {
  padding: 1em;
  text-align: center;
}

.infos .container-popup .right-side_container .card .content h2 {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  color: #F9C80E;
  font-size: 2em;
  text-shadow: 0px 0px 30px #F9C80E;
}

.infos .container-popup .right-side_container .card .content h3 {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  color: #ff4365;
  font-size: 1em;
  text-shadow: 0px 0px 30px #ff4365;
  font-family: Lazer84;
  letter-spacing: 2px;
}

.infos .container-popup .right-side_container .card--2 span {
  overflow: hidden;
  position: relative;
}

.infos .container-popup .right-side_container .card--2 span img {
  width: 100%;
}

.infos .container-popup .right-side_container .map {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  margin-top: 1em;
}

.infos .container-popup .right-side_container .map > button {
  all: unset;
  background: #cfa505;
  -webkit-box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
          box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
  margin: 0 0.5em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}

.infos .container-popup .right-side_container .map > button.active:after {
  background: #fad340;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

.link-contenu {
  top: 14vh;
  left: 9vw;
  font-size: 1vw;
}

.link-contenu span {
  position: absolute;
  display: block;
}

.link-contenu span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#F9C80E));
  background: linear-gradient(90deg, transparent, #F9C80E);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.link-contenu span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F9C80E));
  background: linear-gradient(180deg, transparent, #F9C80E);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.link-contenu span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(270deg, transparent, #F9C80E);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.link-contenu span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(360deg, transparent, #F9C80E);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.container--slide {
  top: -13vh;
  position: relative;
}

.container--slide .background img {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.container--slide_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--slide_2 h5 {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 10vh;
  margin: 0;
  margin-top: 5%;
  padding: 0;
  color: #F9C80E;
  font-size: 4vw;
  text-shadow: 0px 0px 30px #F9C80E;
}

.container--slide_2 .content_texte {
  position: absolute;
  top: 40vh;
  width: 60%;
  margin: auto;
  z-index: 2;
}

.container--slide_3 {
  top: -26vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--slide_3 .content_texte {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 25vh;
  position: absolute;
}

.container--slide_3 .content_texte .text-2, .container--slide_3 .content_texte .text-3 {
  width: 35%;
  margin: auto;
  text-align: justify;
  border-style: solid;
  border-color: #791E94;
  -webkit-box-shadow: 0px 0px 30px #ce1ed1;
          box-shadow: 0px 0px 30px #ce1ed1;
}

.container--slide_3 .content_texte .text-2 {
  top: -10vh;
  right: 5vw;
}

.container--slide_3 .content_texte .text-3 {
  left: 2vw;
  top: 15vh;
}

.container--slide_3 .content_texte .text-3:before, .container--slide_3 .content_texte .text-3:after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.container--slide_3 .vroum {
  position: absolute;
  z-index: 3;
  width: 40%;
  margin: auto;
  top: 10vh;
  -webkit-animation: down-vroum 1.5s infinite ease-in-out alternate;
          animation: down-vroum 1.5s infinite ease-in-out alternate;
}

.text {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
  text-align: justify;
  width: 100%;
  font-size: 1.2vw;
}

.text:before, .text:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #c300ff, #1100ff, #ff00ea, #fb0094, #0000ff, #ae00ff, #56096d, #ff00ea);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  -webkit-animation: steam 20s ease-in-out infinite;
          animation: steam 20s ease-in-out infinite;
}

.text:after {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

#vidéo_accueil img {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.background img {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.split_slide--trait {
  position: relative;
  width: 45%;
  height: 1.6vh;
  z-index: 8;
  background: #791E94;
  -webkit-box-shadow: 0px 0px 30px #ce1ed1;
          box-shadow: 0px 0px 30px #ce1ed1;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  top: -13vh;
}

.split_slide--trait_1, .split_slide--trait_3, .split_slide--trait_5 {
  left: 0px;
  float: left;
}

.split_slide--trait_1:nth-of-type(1), .split_slide--trait_3:nth-of-type(1), .split_slide--trait_5:nth-of-type(1) {
  top: unset;
}

.split_slide--trait_2, .split_slide--trait_4, .split_slide--trait_6 {
  right: 0;
  float: right;
}

.split_slide--trait_2:nth-of-type(2), .split_slide--trait_4:nth-of-type(2), .split_slide--trait_6:nth-of-type(2) {
  top: unset;
}

.split_slide--trait_2:nth-of-type(3), .split_slide--trait_4:nth-of-type(3), .split_slide--trait_6:nth-of-type(3) {
  top: unset;
}

.split_slide--trait_5, .split_slide--trait_6 {
  top: -25.5vh;
}

.split_slide--triangle {
  height: 11vh;
  width: 7.3%;
  position: relative;
  margin: auto;
  color: #F9C80E;
  z-index: 20;
  -webkit-animation: down 1s infinite ease-in-out alternate;
          animation: down 1s infinite ease-in-out alternate;
}

.split_slide--triangle_1 {
  top: 1vh;
}

.split_slide--triangle_2 {
  top: -13vh;
}

.split_slide--triangle_3 {
  top: -25.5vh;
}

.body--contenu {
  overflow-y: auto;
  overflow-x: hidden;
}

#décor {
  position: absolute;
  z-index: 2;
  border-style: solid;
  border-color: #791E94;
  -webkit-box-shadow: 0px 0px 30px #ce1ed1;
          box-shadow: 0px 0px 30px #ce1ed1;
}

#car {
  z-index: 5;
  position: absolute;
}

.parallax {
  margin-left: 5%;
  margin-top: 10%;
}

#img2 {
  position: absolute;
  margin-top: 7%;
  z-index: 1;
}

#city {
  position: absolute;
  z-index: 10;
  margin-top: 50%;
  margin-left: 5%;
  width: 581px;
  height: 404px;
  border: 8px solid #F9C80E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 18px 11px rgba(255, 245, 0, 0.25);
          box-shadow: 0px 0px 18px 11px rgba(255, 245, 0, 0.25);
}

#music {
  position: absolute;
  z-index: 10;
  margin-top: 78%;
  margin-left: 65%;
  position: absolute;
  width: 581px;
  height: 404px;
  border: 8px solid #FF4365;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 3px #FF4365;
          box-shadow: 0px 0px 20px 3px #FF4365;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

#filtre {
  background-color: black;
  opacity: 0.5;
}

.container--footer {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0;
}

.container--footer_form {
  position: relative;
}

.container--footer h2 {
  position: relative;
  text-align: center;
  top: -15vh;
  margin: 0;
  margin-top: 0%;
  padding: 0;
  color: #ff4365;
  font-size: 4.5vw;
  text-shadow: 0px 0px 30px #ff4365;
  -webkit-animation: move-title 2s ease-in-out alternate infinite;
          animation: move-title 2s ease-in-out alternate infinite;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.container--footer .form1 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container--footer .form1 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container--footer .form1 .col__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--footer .form1 .col__button .text:before, .container--footer .form1 .col__button .text:after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.container--footer .form1 .inputbox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #791E94;
  margin: .5em;
}

.container--footer .form1 .inputbox input {
  font-family: Lazer84;
  font-weight: lighter;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 1vw;
  padding: 0 10px;
  z-index: 2;
}

.container--footer .form1 .inputbox input:focus + .text, .container--footer .form1 .inputbox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container--footer .form1 .inputbox input:focus ~ .line, .container--footer .form1 .inputbox input:valid ~ .line {
  height: 100%;
}

.container--footer .form1 .inputbox input[type="text"] {
  letter-spacing: 2px;
}

.container--footer .form1 .inputbox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 1.2vw;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  pointer-events: none;
  color: #ff4365;
  text-shadow: 0px 0px 30px #ff4365;
}

.container--footer .form1 .inputbox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #791E94;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
  pointer-events: none;
}

.container--footer .form1 .inputbox.textarea {
  position: relative;
  width: 100%;
  padding: 10px 0px;
}

.container--footer .form1 .inputbox.textarea textarea {
  font-family: Lazer84;
  resize: none;
  position: relative;
  width: 100%;
  overflow: auto;
  background-color: rgba(121, 30, 148, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-box-shadow: -5px 8px 25px #791E94, 5px 8px 25px #ff4365;
          box-shadow: -5px 8px 25px #791E94, 5px 8px 25px #ff4365;
  outline: none;
  font-size: 1vw;
  padding: 20px;
  z-index: 1;
  top: 35px;
  color: white;
  letter-spacing: 2px;
}

.container--footer .form1 button {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 4px;
  width: 20vw;
  margin: auto;
  margin-top: 23vh;
  outline: none;
  border: none;
  border-radius: 5px;
}

.container--footer .form1 button:hover {
  background: #F9C80E;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #F9C80E, 0 0 25px #F9C80E, 0 0 50px #F9C80E, 0 0 100px #F9C80E;
          box-shadow: 0 0 5px #F9C80E, 0 0 25px #F9C80E, 0 0 50px #F9C80E, 0 0 100px #F9C80E;
}

.container--footer .form1 button span {
  position: absolute;
  display: block;
}

.container--footer .form1 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#F9C80E));
  background: linear-gradient(90deg, transparent, #F9C80E);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.container--footer .form1 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F9C80E));
  background: linear-gradient(180deg, transparent, #F9C80E);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.container--footer .form1 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(270deg, transparent, #F9C80E);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.container--footer .form1 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#F9C80E));
  background: linear-gradient(360deg, transparent, #F9C80E);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.cursor {
  width: 1.5em;
  height: 1.5em;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  z-index: 50;
  -webkit-box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
          box-shadow: 0 0 10px #F9C80E, 0 0 40px #F9C80E, 0 0 80px #F9C80E;
}

.cursor__grow {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-backdrop-filter: contrast(150%);
          backdrop-filter: contrast(150%);
}

.loader-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 25;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

.loader-container .loader {
  position: absolute;
  z-index: 25;
  width: 150px;
  height: 150px;
  margin: auto;
  top: 45%;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #ff4365);
  -webkit-animation: onload 2s linear infinite;
          animation: onload 2s linear infinite;
}

.loader-container .loader:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 50%;
  z-index: 50;
}

.loader-container .loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #ff4365);
  border-radius: 50%;
  z-index: 25;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.music--container {
  position: fixed;
  width: 50px;
  top: 8vh;
  z-index: 11;
}

.music__on, .music__off {
  position: fixed;
  right: 2vw;
  width: 50px;
  color: #F9C80E;
  -webkit-filter: drop-shadow(0 0 10px #F9C80E);
          filter: drop-shadow(0 0 10px #F9C80E);
}

@media only screen and (min-width: 768px) {
  .bg--mountains {
    top: 17%;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.1em;
  }
}

@media screen and (min-width: 950px) {
  body {
    background-position: 50% 0%;
  }
  .link-contenu {
    top: 10vh;
  }
}

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
  .container--slide_2 .content_texte {
    top: 30vh;
  }
  .container--slide_3 .vroum {
    top: 12vh;
  }
  .container--slide_3 .content_texte {
    top: 22vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 5vh;
  }
  .form1 input[type="text"], .form1 textarea {
    font-size: 1.5vw !important;
  }
  .form1 span {
    font-size: 2vw !important;
  }
  .form1 button {
    width: 30vw !important;
    font-size: 2vw !important;
  }
}

@media screen and (min-width: 1100px) {
  .bg--mountains {
    top: 8%;
  }
}

@media screen and (min-width: 1500px) {
  .bg--mountains {
    top: -10%;
  }
}

@media only screen and (max-width: 1000px) {
  .container-popup {
    display: block !important;
    overflow-y: auto;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    top: 20vh !important;
  }
  .left-side, .right-side {
    width: 100% !important;
    height: auto !important;
  }
  .left-side {
    padding: 5% !important;
  }
  .card {
    width: 70vw !important;
    height: unset !important;
  }
}

@media only screen and (max-width: 740px) {
  .card {
    width: 65vw !important;
    height: unset !important;
  }
  .link-contenu {
    top: 8vh;
  }
  .container--slide_2 .content_texte {
    top: 25vh;
  }
  .container--slide_3 .vroum {
    top: 10vh;
  }
  .container--slide_3 .content_texte {
    top: 18vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 5vh;
  }
}

@media screen and (max-width: 640px) {
  .container--slide_2 h5 {
    top: 4vh;
  }
  .container--slide_2 .content_texte {
    top: 18vh;
  }
  .container--slide_3 .vroum {
    top: 10vh;
  }
  .container--slide_3 .content_texte {
    top: 15vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 5vh;
  }
  .form1 input[type="text"], .form1 textarea {
    font-size: 2.5vw !important;
  }
  .form1 span {
    font-size: 3vw !important;
  }
  .form1 button {
    width: 40vw !important;
    font-size: 3vw !important;
  }
}

@media screen and (max-width: 540px) {
  .container--slide_2 .content_texte {
    top: 16vh;
  }
  .container--slide_3 .vroum {
    top: 8vh;
  }
  .container--slide_3 .content_texte {
    top: 15vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 2vh;
  }
  .container--footer_form h2 {
    font-size: 7.5vw;
  }
  .form1 input[type="text"], .form1 textarea {
    font-size: 2.5vw !important;
  }
  .form1 span {
    font-size: 3vw !important;
  }
  .form1 button {
    width: 60vw !important;
    font-size: 4vw !important;
  }
}

@media screen and (max-width: 450px) {
  .link-contenu {
    top: 6vh;
  }
  .container--slide_2 .content_texte {
    top: 14vh;
  }
  .container--slide_3 .vroum {
    top: 6vh;
  }
  .container--slide_3 .content_texte {
    top: 14vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 0;
  }
}

@media screen and (max-width: 400px) {
  .left-side .titre h2 {
    font-size: 2em !important;
  }
  .left-side .theme h3, .left-side .roles h3 {
    font-size: 1.5em !important;
  }
  .card img {
    width: 15em !important;
  }
  .card .content h2 {
    font-size: 1.5em !important;
  }
  .card .content h3 {
    font-size: 0.7em !important;
  }
  .container--slide_2 .content_texte {
    top: 12vh;
  }
  .container--slide_3 .vroum {
    top: 6vh;
  }
  .container--slide_3 .content_texte {
    top: 12.5vh;
  }
  .container--slide_3 .content_texte .text-3 {
    top: 0;
  }
  .container--footer_form {
    top: -15vh;
  }
  .container--footer_form h2 {
    font-size: 7vw;
    top: 0;
  }
}

@media all and (min-width: 768px) and (min-height: 580px) {
  #plane {
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(3, 3.6, 1);
            transform: translate3d(-50%, -50%, 0) scale3d(3, 3.6, 1);
  }
}

@media all and (min-height: 720px) {
  #plane {
    -webkit-perspective: 360px;
            perspective: 360px;
  }
}

@font-face {
  font-family: 'RoadRage';
  src: url("../font/Road_Rage.ttf");
}

@font-face {
  font-family: 'Lazer84';
  src: url("../font/Lazer84.ttf");
}

@font-face {
  font-family: 'Metropolis-light';
  src: url("../font/Metropolis-Light.otf");
}

@-webkit-keyframes event_horizon {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes event_horizon {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bouton {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

@keyframes bouton {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(20%, -40%);
            transform: translate(20%, -40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(20%, -90%);
            transform: translate(20%, -90%);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translate(20%, -40%);
            transform: translate(20%, -40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(20%, -90%);
            transform: translate(20%, -90%);
    opacity: 1;
  }
}

@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes down-vroum {
  0% {
    -webkit-transform: translate(-5%, -5%) rotateZ(0deg);
            transform: translate(-5%, -5%) rotateZ(0deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translate(-5%, 10%) rotateZ(5deg);
            transform: translate(-5%, 10%) rotateZ(5deg);
    opacity: 1;
  }
}

@keyframes down-vroum {
  0% {
    -webkit-transform: translate(-5%, -5%) rotateZ(0deg);
            transform: translate(-5%, -5%) rotateZ(0deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translate(-5%, 10%) rotateZ(5deg);
            transform: translate(-5%, 10%) rotateZ(5deg);
    opacity: 1;
  }
}

@-webkit-keyframes move-title {
  from {
    letter-spacing: 0;
  }
  to {
    letter-spacing: 3px;
  }
}

@keyframes move-title {
  from {
    letter-spacing: 0;
  }
  to {
    letter-spacing: 3px;
  }
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@-webkit-keyframes onload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes onload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */