$jaune : #F9C80E;
$rouge : #ff4365;
$violet : #791E94;

@import 'mixins';

*,
*:before,
*:after {
    box-sizing: border-box;
    cursor: none;
}

::selection {
    background-color: rgba(255, 152, 241, 0.418);
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-color: #000;
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
    color: white;
    * {
        font-family: "RoadRage";
    }
    p, ul, li {
        font-family: "Metropolis-light";
        color: white;
        font-size: 20px;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    z-index: 20;
}

@import 'accueil';
@import 'contenu';
@import 'form';

@import 'cursor';
@import 'loader';
@import 'music';
@import 'medias';
@import 'font';
@import 'keyframes';