@mixin title($color) {
    margin: 0;
    padding: 0;
    color: $color;
    font-size: 3.4em;
    text-shadow: 0px 0px 30px $color;
    text-align: center;
    @media only screen and (min-width: 80vw) {
        font-size: 3em;
    }
}

@mixin subtitle($color, $mt:5%, $fs:2em) {
    margin: 0;
    margin-top: $mt;
    padding: 0;
    color: $color;
    font-size: $fs;
    text-shadow: 0px 0px 30px $color;
}

@mixin circle($i) {
    border-radius: 100%;
    height: $i;
    width: $i;
}